
/* utilites */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');


body{
   margin: 0;
    font-family: 'Poppins', sans-serif;
    background-color: #F3F1FF;
    box-sizing: border-box;
}

header,main{
    display: flex;
    flex-direction: column;
    align-items:center;
}


.container{
    background-color: rgb(247, 239, 239);
    width: 1050px;
    padding:20px;
    margin-top: 100px;
}

/* utilites end */


/* top-menu */
.header-name{
    text-align: center;
}

.top-container{
    width: 1250px;
    background-color: white;
    padding: 30px;
}


.top-header-title{
    font-size: 52px;
}


.top-bar{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 133px;
    transition: height 1s, width 1s, transform 1s;


}

.top-bar:hover .top-image{
    transform:scale(1.3);
}


.top-bar .top-image{
    width: 440px;
    
}

.top-description{
    width:100% ;
}

.top-bar .top-description a{
    text-decoration: none;
    font-size: 16px;
    background-color:  #E02C6D;
    padding: 10px 30px;
    font-weight: 500;
    color: white;
    border-radius: 5px;
    
}
/* top-menu end*/

/* popular section design */

.popular-collection-header{
    text-align: center;
    margin-bottom: 30px;
}


.popular-products{
    display: grid;
    grid-template-columns:repeat(3,1fr) ;
    grid-row-gap: 30px;
   
}

.product{
    background: #FFFFFF;
    padding-left: 15px;
    width: 329px;
    
    
    /* box-shadow: 10px 10px 20px #e6d2d2; */
  
}

.product-info p{
    font-size: 14px;
    color: #787885;
}



.popular-products .product-image img{
    margin-top: 50px;
    width: 300px;
    height: 256px;
}



.fa-star.filled{
    color: yellow;
}

.rating-number{
    margin-left:10px;
}

/* popular section design */



/* trand section */

        .trand{
            display: grid;
            grid-template-columns: repeat(1,1fr);
            grid-gap: 96px;
        }
        .trand-product{
            display: flex;
            align-items: center;
        }

  

        .trand-description{
            margin-left: 96px;
            text-align: justify;
        }
        .trand-description h3{
            font-size: 38px;
            text-align: center;
          
           
        }
        .trand-description p{
            font-size: 16px;
        }

        .trand-product .trand-description a{
              text-decoration: none;
              font-size: 16px;
              background-color:  #E02C6D;
              padding: 10px 30px;
              font-weight: 500;
              color: white;
              border-radius: 5px;
        }
/* trand section end*/


   /* footer section */
        .footer{
            width: 100%;
            margin-top: 40px;
            background-color: #1F2D26;
            text-align: center;
            color: white;
            font-size: 16px;

        }




   /* footer section */
   



/* Responsive design */
/* mobile version */
@media only screen and (max-width:576px) {

    /* utilies */
    .top-container,.container{
        width: 100%;
    }
    
    /* utilies */

    /* top-bar-header */
    .top-header-title{
        margin-right: 120px;
        font-size: 32px;
    }
    .header-description{
        margin-right: 120px;
    }
    

    .top-bar{
        grid-template-columns: repeat(1,1fr);
    }



   
    /* top-bar-header */

    /* popular product */

    .popular-products{
        grid-template-columns: repeat(1,1fr);
    }
    .product,.trand-product{
        flex-direction: column;
    }

    /* popular product */


    /* trand product */

    .trand .trand-product .trand-image{
        margin-right: 150px;
        width: 256px;
    }

    .trand-description{
        margin-left: 20px;
        text-align: justify;
       margin-right:30px;
    }
   
    .trand-description h3{
        font-size: 20px;
        text-align: center;
      
       
    } 
  
    .trand-description p{
        font-size: 16px;
    }

    /* trand product end */


}

/* mobile version */

/* tablet version */

    @media only screen and (min-width:577px) and (max-width:800px){
       
        /* top-bar design */
        .top-header-title{
            margin-right: 120px;
            font-size: 45px;
        }
        .header-description{
            margin-right: 120px;
        }
        .top-container,.container{
            width: 100%;
        }
        .top-bar{
            grid-template-columns: repeat(1,1fr);
        }

        /* top-bar design end*/

    /* popular product */

    .popular-products{
        grid-template-columns: repeat(2,1fr);
        grid-column-gap: 10px;
    }
    .product,.trand-product{
        flex-direction: column;
    }

    /* popular product */

    /* trand product design */

    .trand .trand-product .trand-image{
      
        width: 350px;
    }

    .trand-description{
        margin-left: 30px;
        text-align: justify;
       margin-right:70px;
    }
   
    .trand-description h3{
        font-size: 25px;
        text-align: center;
      
       
    } 
  
    .trand-description p{
        font-size: 16px;
    }


    /* trand product design end */



    }


/* tablet version end */
